/* Universal Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    background-color: white;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: center;
}
nav a {
    font-size: clamp(0.3rem, 6vw, 2rem);
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid black;
}

/* Page 1 & Page 3 */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
}
.item {
    background: white;
    margin: 0;
}

.item p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin: 0;
    margin-top: 10px;
    line-height: 1.3;
    text-align: center;
}

.item img {
    width: 100%;
    aspect-ratio: 1 / 1;

}

@media (max-width: 1100px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Page 2*/
h1 {
    display: flex;
    justify-content: center;
    font-size: clamp(2.5rem, 12vw, 6rem);
    letter-spacing: 5px;
    font-weight: 900;
    margin: 1rem;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(0.5rem, 5vw, 2rem);
    width: 90%;
    margin: auto;
    line-height: 1.5;
}
.about-content {
    margin: 2rem;
}

/* Responsiveness for Page 1 & Page 3 */
@media (max-width: 1100px) {
    .price-products {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .price-products {
        grid-template-columns: repeat(2, 1fr);
    }
}